In [2]:
import requests
import pandas as pd

In [3]:
#Make the empty dataset
df=pd.DataFrame()

In [27]:
# Fetch all movies
for i in range(1, 429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id', 'title', 'overview', 'release_date', 'popularity', 'vote_average', 'vote_count']]
    # Concatenate the temporary DataFrame to the main DataFrame
    df = pd.concat([df, temp_df], ignore_index=True)

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,155.377,8.706,26709
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,273.333,8.690,20263
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,108.513,8.574,12223
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,116.561,8.566,15632
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,72.430,8.544,8471

In [29]:
df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,155.377,8.706,26709
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,273.333,8.690,20263
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,108.513,8.574,12223
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,116.561,8.566,15632
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,72.430,8.544,8471

In [31]:
df.shape

(8740, 7)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8740 entries, 0 to 8739
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            8740 non-null   int64
 1   title         8740 non-null   object
 2   overview      8740 non-null   object
 3   release_date  8740 non-null   object
 4   popularity    8740 non-null   float64
 5   vote_average  8740 non-null   float64
 6   vote_count    8740 non-null   int64
dtypes: float64(2), int64(2), object(3)
memory usage: 478.1+ KB

In [34]:
# save the file in csv
df.to_csv("movies.csv")

In [3]:
import requests

url = "https://covid-19-data.p.rapidapi.com/country/code"

querystring = {"format":"json","code":"it"}

headers = {
	"x-rapidapi-key": "eea3960cf9msh27958e8f5cf00eap1c3931jsn44e05f33ad84",
	"x-rapidapi-host": "covid-19-data.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

print(response.json())

[{'country': 'Italy', 'code': 'IT', 'confirmed': 26723249, 'recovered': 26361218, 'critical': 22, 'deaths': 196487, 'latitude': None, 'longitude': None, 'lastChange': '2024-06-04T00:25:34+00:00', 'lastUpdate': '2024-08-09T09:13:41+00:00'}]